<div>
  <h2>websocket练习——单机火拼俄罗斯</h2>
  <p class="lh64">
    旋转：<i class="anticon anticon-arrow-up"></i><span class="pl20"></span>
    右：<i class="anticon anticon-arrow-right"></i><span class="pl20"></span>
    下：<i class="anticon anticon-arrow-down"></i><span class="pl20"></span>
    左：<i class="anticon anticon-arrow-left"></i><span class="pl20"></span>
    坠落：空格<span class="pl20"></span>
    开始：回车<span class="pl20"></span>
    准备：shift + 回车</p>
  <div nz-row [nzGutter]="0">
    <div nz-col [nzSpan]="6">
      <div class="host-game-box">
        <app-tetris-block [data]="gameData"></app-tetris-block>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="game-next-box">
        <app-tetris-block [data]="next?.data"></app-tetris-block>
      </div>
      <div class="game-info">
        <p>已经用时：{{time}}s</p>
        <p>已经得分：{{score}}分</p>
        <p [hidden]="!isGameOver">GAME OVER</p>
        <p [hidden]="!isPractice">等级：{{level}}</p>
        <p>最高记录：{{highest}}</p>
        <p>{{msg}}</p>
        <p>按键次数：{{keyCount}}</p>
        <p>每分钟按键次数：{{keyCountRate | number: '.2-2'}}</p>
        <p>方块数：{{blockCount}}</p>
        <p>每分钟方块数：{{blockCountRate | number: '.2-2'}}</p>
        <p>消除1行数：{{onefold}}</p>
        <p>消除2行数：{{twofold}}</p>
        <p>消除3行数：{{treefold}}</p>
        <p>消除4行数：{{fourfold}}</p>
        <p>消除总行数：{{lines}}</p>
        <button class="dbi" nz-button [nzType]="'primary'" (click)="start($event)">练习</button>
        <button class="dbi" nz-button [nzType]="'primary'" (click)="ready($event)">准备</button>
        <button class="dbi" nz-button [nzType]="'primary'" (click)="stop($event)">结束</button>
        <button class="dbi" nz-button [nzType]="'primary'" (click)="pause($event)">暂停</button>
        <button class="dbi" nz-button [nzType]="'primary'" (click)="closeProjection($event)">{{isProjection? '关闭' : '开启' }}投影</button>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="host-game-box">
        <app-tetris-block [data]="remoteData"></app-tetris-block>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="game-next-box">
        <app-tetris-block [data]="remoteNext?.data"></app-tetris-block>
      </div>
      <div class="game-info">
        <p>已经用时：{{time}}s</p>
        <p>已经得分：{{remoteScore}}分</p>
        <p>{{remoteMsg}}</p>
      </div>
    </div>
  </div>
</div>
