.content-container {
  height: -moz-calc(100vh - 64px);
  height: -webkit-calc(100vh - 64px);
  height: calc(100vh - 64px);
}
.logo {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  margin-right: 16px;
  background: url("assets/img/logo.png") center no-repeat;
  cursor: pointer;
}
.content-wrap {
  padding: 20px;
}
.message-box {
  border: 1px solid #b9b0b0;
  height: 300px;
  padding: 10px;
}
.host-game-box, .game-next-box{
  border: 1px solid #1A6FB0;
  background-color: #F4FEEE;
  position: absolute;
}
.host-game-box {
  border-top: none;
  width: 202px;
  height: 401px;
  left: 50%;
  transform: translateX(-50%);
}
.game-next-box {
  width: 82px;
  height: 82px;
}
.block-current, .block-none, .block-done {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  position: absolute;
}
.block-current {
  border: 1px solid #FE1C18;
  background-color: #FE896B;
}
.block-none {
  border: 1px solid #F4FEEE;
  background-color: #F4FEEE;
}
.block-done {
  border: 1px solid #636363;
  background-color: #3F3F3F;
}
.game-info {
  margin-top: 100px;
}
