<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="lh64i">
      <li nz-menu-item>首页</li>
      <li nz-menu-item>用户</li>
      <li nz-menu-item>设置</li>
    </ul>
  </nz-header>
  <nz-layout class="content-container">
    <nz-sider [nzWidth]="200"
              class="bgc-f"
              [class.oai]="enterSide"
              [class.ohi]="!enterSide"
              (mouseenter)="enterSide=true"
              (mouseleave)="enterSide=false">
      <ul nz-menu [nzMode]="'inline'" class="h">
        <li nz-menu-item>用户管理</li>
      </ul>
    </nz-sider>
    <nz-layout class="pl20">
      <nz-breadcrumb class="m15_0">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content class="content-wrap" [class.oai]="enterContent" [class.ohi]="!enterContent" (mouseenter)="enterContent=true" (mouseleave)="enterContent=false">
        <!--content-->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

