<div>
  <h2>websocket练习——火拼俄罗斯</h2>
  <div nz-row [nzGutter]="0">
    <div nz-col [nzSpan]="6">
      <p>我的游戏区域</p>
      <p>{{msg}}</p>
    </div>
    <div nz-col [nzOffset]="6" [nzSpan]="6">
      <p>对方游戏区域</p>
    </div>
  </div>
  <div nz-row [nzGutter]="0">
    <div nz-col [nzSpan]="6">
      <div class="host-game-box">
        <app-home-tetris-block [data]="gameData"
                               [remoteData]="remoteData"
                               [next]="next"
                               [curType]="curType"
                               [curDirective]="curDirective"
                               (nextEmitter)="changeNext($event)"
                               (remoteNextEmitter)="changeRemoteNext($event)"
                               (remoteDataEmitter)="changeRemoteData($event)"
                               (timeChange)="changeTime($event)"
                               (scoreChange)="changeScore($event)"
                               (isGameOverChange)="changeGameOver()"
        ></app-home-tetris-block>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="game-next-box">
        <app-home-tetris-block-next [data]="next?.data"></app-home-tetris-block-next>
      </div>
      <div class="game-info">
        <p>已经用时：{{time}}s</p>
        <p>已经得分：{{score}}分</p>
        <p [hidden]="!isGameOver">GAME OVER</p>
        <div>
          <button nz-button [nzType]="'primary'" (click)="ready($event)">准备</button>
          <button nz-button [nzType]="'primary'" (click)="doTry($event)">练习</button>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="host-game-box">
        <app-home-tetris-block-remote [data]="remoteData"></app-home-tetris-block-remote>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
      <div class="game-next-box">
        <app-home-tetris-block-next [data]="remoteNext?.data"></app-home-tetris-block-next>
      </div>
      <div class="game-info">
        <p>已经用时：{{remoteTime}}s</p>
        <p>已经得分：{{remoteScore}}分</p>
        <p [hidden]="!isGameOver">GAME OVER</p>
      </div>
    </div>
  </div>
</div>
